{% extends "layout.html" %}

{% block title %}
    - Korisnik/{{ korisnik.ime }}
{% endblock %}

{% block link %}<a id="naslov_nazad" href="{{request.referrer}}">&#8249;</a>{% endblock %}
{% block botun %}<a href="/odjava"><span>odjava</span></a>{% endblock %}

{% block main %}
<div class="kartice">
			
	<div class="korisnik_kartica">

        <img id="korisnik_slika" class="okrugla_slika korisnik_element" src="/static/avatari/{{ korisnik.avatar }}">

        <h2>{{ korisnik.ime }}</h2>
       
    </div>


	
	<h4 id="sudionik_botun">Sudionik</h4> <h4 id="objave_botun" class="ne_aktivno">Objave</h4> 
    
    <div  id="sudionik">
        {% for objava in korisnik.sudionik %}
            {% include 'objava_kartica.html' %}
        {% endfor %}
    </div>

    <div style="display:none;" id="objave">
    	{% for objava in korisnik.objave %}
            {% include 'objava_kartica.html' %}
    	{% endfor %}
    </div>
</div>

<script>
    $("#objave_botun").click(function() {
            $("#sudionik").hide();
            $("#objave").show();
            $("#sudionik_botun").addClass("ne_aktivno")
            $(this).removeClass("ne_aktivno");});   

    $("#sudionik_botun").click(function() {
            $("#objave").hide();
            $("#sudionik").show();
            $("#objave_botun").addClass("ne_aktivno")
            $(this).removeClass("ne_aktivno");});    
</script>
{% endblock %}