{% extends "layout.html" %}

{% block botun %}<a href="/postavke"><img class="okrugla_slika" src="/static/avatari/{{ avatar }}"></a>{% endblock %}

{% block title %}
    - Objave
{% endblock %}

{% block main %}

<div class="kartice">
    {% for objava in objave.items %}
        {% include 'objava_kartica.html' %}
    {% endfor %}
    <div class="stranice">
        {% for stranica in objave.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if stranica %}
            {% if objave.page == stranica %}
              <a class="odabran" href="{{ url_for('objave', stranica=stranica, mjesto_filter=request.args.get('mjesto_filter'), sport_filter=request.args.get('sport_filter')) }}">{{ stranica }}</a>
            {% else %}
              <a href="{{ url_for('objave', stranica=stranica, mjesto_filter=request.args.get('mjesto_filter'), sport_filter= request.args.get('sport_filter')) }}">{{ stranica }}</a>
            {% endif %}
          {% else %}
            ...
          {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block header %}

<div class="događaj">
    <h2 class="obrazac_botun otvori" >+ kreiraj događaj</h2>
    <h2 class="obrazac_botun zatvori">&times novi događaj</h2>
    <a id="filter_ikona" href="#filter" rel="modal:open"><i class="material-icons-round">filter_list</i></a>
    <div class="obrazac_događaj">
        {% include 'obrazac_događaj.html' %}
    </div>
</div>


<div id="filter"  style="text-align: center;"  class="modal">
    <form autocomplete="off" action="" method="post">
            {{ filter.hidden_tag() }}
            <fieldset class="obrazac">
                    {{ filter.sport (autocomplete="off", placeholder="Sport", class="element sport_input")}}
                    {% if filter.sport.errors %}
                        <script>
                            $("[name='sport']").addClass("upozorenje").val("");
                        </script>
                    {% endif %}

                    {{ filter.mjesto (placeholder="Mjesto", autocomplete="off", class="element mjesto_input")}}
                    {% if filter.mjesto.errors %}
                        <script>
                            $("[name='mjesto']").addClass("upozorenje");
                        </script>
                    {% endif %}
                    {{ filter.submit (class="botun")}}
            </fieldset>
    </form>
</div>

<script>
  var pusher = new Pusher('43251c740e8c7fdc4747', {
    cluster: 'eu',
    forceTLS: true
  });

  var kanal = pusher.subscribe('objava-kanal');
  kanal.bind('nova-objava', function(data) {
    let sport = data.sport;
    let mjesto = data.mjesto;
    let datum = data.datum;
    let id = data.id
    let sat = data.sat
    
    let objava_kartica = `<a href="/objave/${id}" class="kartica povecaj poz1">
                <div class="grad">${mjesto}</div>
                <div class="datum">${datum}</div>
                <div class="sport">${sport}</div>
                <div class="vrijeme">${sat}</div>
</a>`;
    
    $('.kartice').prepend(objava_kartica)
  }); 

</script>

<script>
        $(".otvori").click(function() {
            $(".obrazac_događaj").show()
            $(this).hide();
            $(".zatvori").show();
            $("#filter_ikona").hide();
            if ($(window).width() <= 1000) {  
                $("main").hide();
       }     
            
});

        $(".zatvori").click(function() {
            $(".obrazac_događaj").hide();
            $(this).hide();
            $(".otvori").show();
            $("main").show();
            $("#filter_ikona").show();
});
</script>

{% endblock %}