{% extends "layout.html" %}

{% block botun %}<a href="/postavke"><img class="okrugla_slika" src="/static/avatari/{{ avatar }}"></a>{% endblock %}

{% block title %}
    - Objave
{% endblock %}

{% block main %}




<div class="kartice">
    {% for objava in objave %}
        <a href="/objave/{{ objava.id }}" class="kartica povecaj">
                <div class="grad">{{ objava.mjesto }}</div>
                <div class="datum">{{ objava.datum.strftime("%a, %d.").capitalize() }}</div>
                <div class="sport">{{ objava.sport }}</div>
                <div class="vrijeme">{{ objava.datum.strftime("%H:%M") }}</div>
        </a>
    {% endfor %}
</div>



{% endblock %}

{% block header %}

<div class="događaj">
    <h2 class="obrazac_botun otvori" >+ kreiraj događaj</h2>
    <h2 class="obrazac_botun zatvori">&times zatvori</h2>

    <div class="obrazac_događaj">
        {% include 'obrazac_događaj.html' %}
    </div>
</div>

<div id="filter_lista">
    <i id="ikona" class="material-icons">
    filter_list
    </i>
    <div style="display: none" id='filter'>
        <select>
            <option value='ranije'>datum ranije</option>
            <option value='kasnije'>datum kasnije</option>
        </select>
    </div>
        <script>
        $('#ikona').click(function() {
            $('#filter').toggle('scale');
        }); 
        </script>
</div>


<script>
        $(".otvori").click(function() {
            $(".obrazac_događaj").show()
            $(this).hide();
            $(".zatvori").show();
            if ($(window).width() <= 1000) {  
                $("main").hide();
       }     
            
});

        $(".zatvori").click(function() {
            $(".obrazac_događaj").hide();
            $(this).hide();
            $(".otvori").show();
            $("main").show();
});

</script>
{% endblock %}