{% extends "layout.html" %}

{% block title %}
    - {{ objava.sport }}/{{ objava.mjesto }}
{% endblock %}

{% block botun %}<a href="/odjava"><span>odjava</span></a>{% endblock %}

{% block main %}
<br>

<div class="kartica">
        <div class="grad">{{ objava.mjesto }}</div>
        <div class="datum">{{ objava.datum.strftime("%B - %a, %d.").capitalize() }}</div>
        <div class="sport">{{ objava.sport }}</div>
        <div class="vrijeme">{{ objava.datum.strftime("%H:%M") }}</div>
</div>

<div id="prozor_izbriši" class="modal">
  <p>Sigurno želite izbrisati?</p>
  <a href="/izbriši/{{ objava.id }}" style="color: #F36B7F;">Nastavi</a>
</div>

<div id="prozor_uredi"  style="text-align: center;"  class="modal">
          {% include 'obrazac_događaj.html' %}
</div>

{% if objava.admin.id == session.get("korisnik_id") %}
	<a href="#prozor_izbriši" rel="modal:open"><img class="mali_botun" src="/static/slike/kanta.svg" alt="Koš za smeće"><img></a>
	<a href="#prozor_uredi" rel="modal:open"><img class="mali_botun" src="/static/slike/olovka.svg" alt="Olovka"><img></a>
{% else %}
  <a id="sudjeluj_botun" href="/sudionik/{{ objava.id }}/1"><img class="mali_botun v" src="/static/slike/dodaj.svg" alt="sudjeluj"><img></a>
  <a style="display: none;" id="ne_sudjeluj_botun" href="/sudionik/{{ objava.id }}/0"><img class="mali_botun v" src="/static/slike/ukloni.svg" alt="sudjeluj"><img></a>
{% endif %}

<p>	<strong>Opis:</strong> {{ objava.opis }}</p>
<p>	<strong>Autor:</strong> <a href="/korisnik/{{ objava.admin.id }}">{{ objava.admin.ime }}</a></p>

{% if objava.sudionici|length != 0 %}
  <p> <strong>Sudionici:</strong>
    {% for sudionik in objava.sudionici %}    
      {% if sudionik.id == session.get("korisnik_id") %}
        <script type="text/javascript">
          $("#sudjeluj_botun").hide()
          $("#ne_sudjeluj_botun").show()
        </script>
      {% endif %}
      <a href="/korisnik/{{ sudionik.id }}">{{ sudionik.ime }}</a>     
    {% endfor %}</p>
{% endif %}


{% endblock %}