{% extends "layout.html" %}

{% block botun %}<a href="/postavke"><img class="okrugla_slika" src="/static/avatari/{{ avatar }}"></a>{% endblock %}

{% block title %}
    - Objave
{% endblock %}

{% block main %}


<head>
    <script>
    {% include 'naselja.json' %}
    $( function() {
        $( ".mjesto_input" ).autocomplete({
          source: naselja,
          minLength: 2,
          change: function( event, ui ) {
            naselje = $(this).val();
            tocno = $.inArray(naselje, naselja);
            if (tocno < 0) {
                $(this).val("");
                return false;
            }
         }
        });
    });
    </script>
</head>

 
<div class="kartice">
    {% for objava in objave %}
        {% include 'objava_kartica.html' %}
    {% endfor %}
</div>


{% endblock %}

{% block header %}

<div class="događaj">
    <h2 class="obrazac_botun otvori" >+ kreiraj događaj</h2>
    <h2 class="obrazac_botun zatvori">&times zatvori</h2>

    <div class="obrazac_događaj">
        {% include 'obrazac_događaj.html' %}
    </div>
</div>

<div id="filter_lista">
    <div style="display: none" class='filter'>
        <select class="filter_element">
            <option value='ranije'>datum ranije</option>
            <option value='kasnije'>datum kasnije</option>
        </select>
        <input class="filter_element" id="naselje" type="text">
    </div>
    <script>
    $('#filter_ikona').click(function() {
        $('.filter').slideToggle('scale');
    }); 
    </script>

</div>

<script>
  var pusher = new Pusher('43251c740e8c7fdc4747', {
    cluster: 'eu',
    forceTLS: true
  });

  var kanal = pusher.subscribe('objava-kanal');
  kanal.bind('nova-objava', function(data) {
    let sport = data.sport;
    let mjesto = data.mjesto;
    let datum = data.datum;
    let id = data.id
    let sat = data.sat
    
    let objava_kartica = `<a href="/objave/${id}" class="kartica povecaj poz1">
                <div class="grad">${mjesto}</div>
                <div class="datum">${datum}</div>
                <div class="sport">${sport}</div>
                <div class="vrijeme">${sat}</div>
</a>`;
    
    $('.kartice').append(objava_kartica)
  }); 

</script>

<script>
     

        $(".otvori").click(function() {
            $(".obrazac_događaj").show()
            $(this).hide();
            $(".zatvori").show();
            if ($(window).width() <= 1000) {  
                $("main").hide();
       }     
            
});

        $(".zatvori").click(function() {
            $(".obrazac_događaj").hide();
            $(this).hide();
            $(".otvori").show();
            $("main").show();
});
</script>

{% endblock %}