
<form action="" method="post">
            {{ obrazac.hidden_tag() }}
            <fieldset class="obrazac">
                <legend><h3>{{ naslov }}</h3></legend>

                    {{ obrazac.sport (autocomplete="off", placeholder="Sport", class="element")}}
                    {% if obrazac.sport.errors %}
                        <script>
                            $("[name='sport']").addClass("upozorenje").val("");
                        </script>
                    {% endif %}


                    {{ obrazac.mjesto (placeholder="Mjesto", class="element")}}
                    {% if obrazac.mjesto.errors %}
                        <script>
                            $("[name='mjesto']").addClass("upozorenje");
                        </script>
                    {% endif %}

                    {{ obrazac.datum (autocomplete="off", placeholder="datum", class="element birac_datuma")}}
                    <script>
                         $("[name='datum']").attr("placeholder");
                    </script>
                    {% if obrazac.datum.errors %}
                        <script>
                            $("[name='datum']").addClass("upozorenje");
                        </script>
                    {% endif %}

                    {{ obrazac.opis (placeholder="Kratki opis", class="element")}}
                    {% if obrazac.opis.errors %}
                        <script>
                            $("[name='opis']").addClass("upozorenje");
                        </script>
                    {% endif %}

                    {{ obrazac.submit (class="botun")}}
            </fieldset>
        </form>