{% extends "layout.html" %}

{% block title %}
    - Postavke
{% endblock %}

{% block botun %}<a href="/odjava"><span>odjava</span></a>{% endblock %}

{% block main %}
<div class="kartice">
	
		
		<form class="korisnik_kartica" action="" method="POST" enctype="multipart/form-data">
        {{ obrazac.hidden_tag() }}
        <img id="korisnik_slika" class="okrugla_slika korisnik_element" src="/static/avatari/{{ korisnik.avatar }}">
        <script>
        	$("#korisnik_slika").click(function(){
   				$('#avatar').click();});
        </script>

        {% if obrazac.avatar.errors %}
                {{ obrazac.avatar (value="", autocomplete="off", placeholder="nevažeći format", class="korisnik_element upozorenje") }}
        {% else %}
            {{ obrazac.avatar (autocomplete="off", placeholder="Slika profila", class="korisnik_element") }}
        {% endif %}

        {% if obrazac.ime.errors %}
            {% if "Zauzeto" in obrazac.ime.errors %}
                {{ obrazac.ime (value="", autocomplete="off", placeholder="Zauzeto", class="korisnik_element upozorenje") }}
            {% else %}
                {{ obrazac.ime (value="", autocomplete="off", placeholder="3-20 znakova", class="korisnik_element upozorenje") }}
            {% endif %}
        {% else %}
            {{ obrazac.ime (autocomplete="off", placeholder="Korisničko ime", class="korisnik_element") }}
        {% endif %}

        {% if obrazac.email.errors %}
            {% if "Već registriran" in obrazac.email.errors %}
                {{ obrazac.email (value="", autocomplete="off", placeholder="Već registriran", class="korisnik_element upozorenje") }}
            {% else %}
                {{ obrazac.email (value="", autocomplete="off", placeholder="nevažeće", class="korisnik_element upozorenje") }}
            {% endif %}
        {% else %}
            {{ obrazac.email (autocomplete="off", placeholder="Email", class="korisnik_element") }}
        {% endif %}

        {{ obrazac.submit (class="botun")}}

        <script> 	        
        	$("input").change(function() {
  				$("#submit").val("Ažuriraj");});
        </script>

    </form>
    

    
    <input id="check" value="zelim" type="checkbox"> Želim primati email obavijesti
    <script>            
        $("#check").change(function() {
            var eobv = (this.checked) ? 1 : 0;
            
            if (eobv == 1) {
                $.post('/email_obavijest', {'obv' : 1})
            }
            else {
                $.post('/email_obavijest', {'obv' : 0})
            }
        })
    </script>
    

    <div>
    {% if korisnik.eobv == True %}
        <script> 
            $("#check")[0].checked = true; 
        </script>
    {% else %}
        <script>
            $("#check")[0].checked = false;
        </script>
    {% endif %}
    </div>

    <h4 id="objave_botun">Moje objave </h4> <h4 id="sudionik_botun" class="ne_aktivno">Sudionik</h4> 
	
	<div id="objave">
    	{% for objava in korisnik.objave %}
            {% include 'objava_kartica.html' %}
    	{% endfor %}
    </div>

    <div id="sudionik" style="display: none;">    
        {% for objava in korisnik.sudionik %}
            {% include 'objava_kartica.html' %}
        {% endfor %}
    </div>

    <script>
    $("#objave_botun").click(function() {
            $("#sudionik").toggle();
            $("#objave").toggle();
            $("#sudionik_botun").addClass("ne_aktivno")
            $(this).removeClass("ne_aktivno");});   

    $("#sudionik_botun").click(function() {
            $("#objave").toggle();
            $("#sudionik").toggle();
            $("#objave_botun").addClass("ne_aktivno")
            $(this).removeClass("ne_aktivno");});    
    </script>

</div>
{% endblock %}