{% extends "layout.html" %}

{% block title %}
    - prijava
{% endblock %}

{% block botun %}<a href="/registracija"><span>nemaš račun?</span></a>{% endblock %}

{% block main %}
<div class="index_obrazac">
    <form action="/prijava" method="post">
        {{ obrazac.hidden_tag() }}
        <fieldset class="obrazac">
            <legend><h3>Prijava</h3></legend>

                {{ obrazac.email (autocomplete="off", placeholder="Email", class="element")}}
                {% if obrazac.email.errors %}
                    <script>
                        $("[name='email']").addClass("upozorenje").val("");
                    </script>
                {% endif %}


                {{ obrazac.lozinka (placeholder="Lozinka", class="element")}}
                {% if obrazac.lozinka.errors %}
                    <script>
                        $("[name='lozinka']").addClass("upozorenje");
                    </script>
                {% endif %}
                <small>
                    <a href='/zaboravljena_lozinka'>Zaboravljena lozinka?</a>
                </small>
                {{ obrazac.submit (class="botun velik")}}
        </fieldset>
    </form>
</div>
{% endblock %}