{% extends "layout.html" %}

{% block title %}
    - registracija
{% endblock %}

{% block botun %}<a href="/prijava"><span>prijava</span></a>{% endblock %}

{% block main %}
<div>
    <form action="" method="POST">
        {{ obrazac.hidden_tag() }}
        <fieldset class="obrazac">
            <legend><h1>Registracija</h1></legend>

                {% if obrazac.ime.errors %}
                    {% if "Zauzeto" in obrazac.ime.errors %}
                        {{ obrazac.ime (value="", autocomplete="off", placeholder="Zauzeto", class="element upozorenje") }}
                    {% else %}
                        {{ obrazac.ime (value="", autocomplete="off", placeholder="3-20 znakova", class="element upozorenje") }}
                    {% endif %}
                {% else %}
                    {{ obrazac.ime (autocomplete="off", placeholder="Korisničko ime", class="element") }}
                {% endif %}

                {% if obrazac.email.errors %}
                    {% if "Već registriran" in obrazac.email.errors %}
                        {{ obrazac.email (value="", autocomplete="off", placeholder="Već registriran", class="element upozorenje") }}
                    {% else %}
                        {{ obrazac.email (value="", autocomplete="off", placeholder="nevažeće", class="element upozorenje") }}
                    {% endif %}
                {% else %}
                    {{ obrazac.email (autocomplete="off", placeholder="Email", class="element") }}
                {% endif %}

                {{ obrazac.lozinka (placeholder="Lozinka", class="element")}}
                {% if obrazac.lozinka.errors %}
                <div>
                    <script>
                        $("[name='lozinka']").addClass("upozorenje");
                    </script>
                 </div>
                {% endif %}

                {{ obrazac.potvrda (placeholder="Potvrda lozinke", class="element")}}
                {% if obrazac.potvrda.errors %}
                <div>
                    <script>
                        $("[name='potvrda']").addClass("upozorenje");
                    </script>
                 </div>
                {% endif %}

                {{ obrazac.submit (class="botun")}}

        </fieldset>

    </form>
</div>
{% endblock %}
